{% extends 'base.html.twig' %}

{% block title %}
	Ajouter une ordonnances
{% endblock %}
{% block body %}

	<h2>Ajouter une Ordonnances</h2>
	{{ form_start(f) }}
	{{ form_widget(f) }}
	{{ form_end(f) }}
{% endblock body %}
