<nav class="navbar bg-info">
	<div class="container-fluid">
		<a class="navbar-brand" style='color:white'>Liste des Ordonnances</a>
		<div class="d-flex">
			<a href="{{ path('homeOrd')}}" class="btn btn-warning" style='margin-right:5px'>Gestion des ordonnances</a>
			<a href="{{ path('home')}}" class="btn btn-warning">Gestion des médicaments</a>
		</div>
	</div>
</nav>
